body{
    background-color:  #FFC4AB;
}
.a{
    margin-left: 7px;
    padding: 5px;
    color: black; 
}
.b{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
  }
.c{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.d{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t3{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #92908E;  
        font-size: 18px;
}
.e{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
    
}
.f{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.g{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.h{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t7{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.i{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t8{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.j{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t9{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.k{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t10{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.l{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t11{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.m{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t12{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.n{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t13{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.o{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t14{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t15{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
.q{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-left: 25px;
}
.t16{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #92908E;  
    font-size: 18px;
}
